.iframe{
	width: 98%;
	outline-width:5px;
	outline-color:#fc801c;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);
	margin:auto;
	height:82vh;
}
.btn{
text-transform:uppercase;
padding:5px 5px;
min-width:100px;
min-width:auto;
border:2px solid #dd6930;
background:#0674cb;
font-size:15px;
color:#fff;
font-weight:600;
text-decoration:none;
margin:10px;
cursor:pointer;
  text-decoration:none;
  display:inline-block;
}
h2{
	font-size:25px;
        font-family: exo;
	margin-left:1%;
	padding:5px 10px;
	word-wrap: keep-all;
	font-weight:700;
}
hr{
  border:none;
  border-bottom:2px solid #fc801c;
}
