html { max-width: 1280px; margin: 0 auto;}
body {
  background: #19f radial-gradient(transparent, #02c);
  
}

.stream
{
    width:1280px;
    height: 720px;    
    margin-bottom: 0px;
    position: absolute;    
}   
