/* Depends on length of ticker text */
html { max-width: 1280px; margin: 0 auto;}
body {
  font-family: Arial;
  color: #ffffff;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
  justify-content:center;
}

.main {
  
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.cur-event {
  background: #2a366a;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 73.8%;
  height: 120px;

background: 
    linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.3) 50%,#0000 66%)
    #2a366a;
  background-size:300% 50%;
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}

.cur-event .top, .cur-event .glow, .cur-event .bttm {
  position: absolute;
  right: 0;
}
.cur-event .top {
  background: radial-gradient(#fff, transparent 60%);
  top: 0;
  height: 5px;
  width: 95%;
}
.cur-event .bttm {
  background: linear-gradient(90deg, transparent, #fca);
  box-shadow: 0 0 2px #800 inset;
  bottom: 0;
  height: 5px;
  width: 26%;
animation-name: blinker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { background: red; }
    50% { background: #660303 ; }
    100% { background: red; }
}@-webkit-keyframes blinker {  
    0% { background: red; }
    50% { background: #660303 ; }
    100% { background: red; }
}
@keyframes blinker {  
    0% { background: red; }
    50% { background: #660303; }
    100% { background: red; }
}
.cur-event p {
  line-height: 1em;
  margin: 20px;
  text-shadow: 0 2px 4px #000;
  vertical-align: center;
  transform: scale(1, 1.3);
}

.ticker {
  background: #000;
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  height: 47px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.ticker .stock-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 48px;
}

.breaking_news {
  float:right;
  width:100%;
  font-family: arial;
  font-size: 26px;
}

.label {
  float:right;
  padding:6px 8px;
  background:#870804;
  color:#FFF;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 2px solid #c9a050;
  border-left: 2px solid #c9a050;
  border-right: 2px solid #c9a050;
  border-bottom: 2px solid #c9a050;
}

/* Ripple magic */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple::after {
  animation: ripple 1.5s ease-out  infinite;
}

.textrss {
    position: absolute;
    z-index: 100;
    line-height: 1.6;
    margin: -58px -45px;
}

.ticker-top {
  background: linear-gradient(87deg, rgba(42,54,106,1) 50%, rgba(201,160,80,1) 65%);
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 61px;
}

.rtcs {
    background-image: url('https://hosting.rtcs.live/media/rtcslive-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    width:947px;
    height: 496px;
    margin-top: 0px;
    position: relative;
    z-index: -2;
}

.rtcs-anchor {
    display: inline-block;
    vertical-align: top;
    width: 395px;
    height: 630px;
    padding-right: 880px;
    margin-top: 0px;
    position: absolute;
    border-left: 5px solid #2a366a;
    border-top: 5px solid #2a366a;  
}

.rtcs-report {
    display: inline-block;
    vertical-align: top;
    width: 940px;
    height: 556px;
    margin-top: 4px;
    position: absolute;
    vertical-align: middle;
    z-index: 1;
    border-right: 5px solid #c9a050;
}
