/* HUD based on http://cloudfront.mediamatters.org/static/uploader/image/2016/04/22/ChrisWallaceMacCallum.jpg */
/* Depends on length of ticker text */
html { max-width: 1280px; margin: 0 auto;}
body {
  background: #19f radial-gradient(transparent, #02c);
  font-family: Arial;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.main {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  width: 100%;
}

.logo-area {
  z-index: 1;
  background: linear-gradient(90deg, #0a0, #0a0 0%, #800 100%, #0a0 100%, #0a0);
  display: row;
  height: 110px;
  width: 15%;
}

.box-top, .box-bttm {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
  perspective: 1200px;
  perspective-origin: 50% 100px;
  width: 110px;
}

.box-bttm {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  height: 30px;
  line-height: 1.5em;
  transform: scale(1, 0.85);
}

.cube {
  position: relative;
  margin: auto;
  width: 110px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: 110px;
}

.box-bttm .cube {
  animation: spin 15s cubic-bezier(0.25, 1, 0.45, 1) infinite;
  text-shadow: 0 0 4px #000;
}
.box-bttm .cube div {
  background: radial-gradient(#800, #400);
  height: 30px;
}

.back {
  transform: translateZ(-55px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(55px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-55px);
  transform-origin: center left;
}

.front {
  transform: translateZ(55px);
}

.ampm {
  font-size: 12pt;
}

.box-bttm {
  margin-left: auto;
  height: 30px;
  width: 110px;
}

.cur-event {
  background: linear-gradient(90deg, transparent, #800 0%);
  font-size: 20pt;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 85%;
  height: 110px;

background: 
    linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.3) 50%,#0000 66%)
    #870407;
  background-size:300% 50%;
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}

.cur-event .top, .cur-event .glow, .cur-event .bttm {
  position: absolute;
  right: 0;
}
.cur-event .top {
  background: radial-gradient(#fff, transparent 60%);
  top: 0;
  height: 5px;
  width: 95%;
}
.cur-event .bttm {
  background: linear-gradient(90deg, transparent, #fca);
  box-shadow: 0 0 2px #800 inset;
  bottom: 0;
  height: 5px;
  width: 96%;
animation-name: blinker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { background: red; }
    50% { background: #660303 ; }
    100% { background: red; }
}@-webkit-keyframes blinker {  
    0% { background: red; }
    50% { background: #660303 ; }
    100% { background: red; }
}
@keyframes blinker {  
    0% { background: red; }
    50% { background: #660303; }
    100% { background: red; }
}
.cur-event p {
  line-height: 1em;
  margin: 20px;
  text-shadow: 0 2px 4px #000;
  vertical-align: center;
  transform: scale(1, 1.3);
}

.ticker {
  background: #000;
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  height: 48px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.ticker .stock-info {
  background: linear-gradient(90deg, #000, #000 25%, #0a0 95%, #000 95%, #000);
  box-shadow: -16px 0 20px #000;
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 48px;
}
.ticker .stock-symbol {
  background: linear-gradient(#666, #000);
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  border: 2px solid #fff;
  float: left;
  width: 68px;
  height: 43px;
}
.ticker .stock-symbol p {
  font-weight: bold;
  line-height: 2em;
  transform: scale(0.8, 1.1);
}
.ticker span {
  float: left;
  width: 85px;
  line-height: 2.5em;
  margin-left: 0px;
  text-shadow: 0 2px 4px #000;
  transform: scale(1, 1.1);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.textrss /* wrap */ {
  position: absolute;
  z-index: 100;
  width: 1280px;
  height: 200px;
  line-height: 1.6;
  margin: 3px -210px;
  
}

.base{
  background-color: #870407;
}

#titleContainer {
  display: none;
}

#subTitleContainer {
  display: none;
}

.color1{
  background-color: #870407;
}


.primTxt{
  color: white;
  font-weight:800;
  font-size:16px;
  line-height:10px;
  margin: 11.5px 0;
}

.secTxt{
  color:white;
  font-weight:600;
  font-size:12px;
  line-height:10px;
  margin:13px 0;
}

#lowerThird{
  display:flex;
}

.flexContainer{
  display:flex;
  flex-flow: row wrap;
  width:auto;
  margin: 20px -880px;
}

.container{
  position:relative;
  overflow:hidden;
  display:inline-flex;
}

.lineBreak{
  width:100%;
}

.box3{
  height:100%;
  width:100%;
  transform:translate3D(-100%, 0, 0);
  overflow:hidden;
  animation-name:box3;
  animation-delay:.75s;
  animation-duration:20s;
  animation-iteration-count:infinite;
}

.text{
  padding:0px 10px;
  max-width:1420px;
  animation-name:text1;
  animation-delay:1s;
  animation-duration:20s;
  animation-iteration-count:infinite;
  transform:translate3d(calc(-100% - 40px), 0, 0);
}

@keyframes box3{
  0% {
    transform:translate3D(-100%, 0, 0);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  12%, 60% {
    transform:translate3D(0, 0, 0);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  65%, 100% {transform:translate3D(-100%, 0, 0)}
}

@keyframes text1{
  0% {
    transform:translate3d(calc(-100% - 40px), 0, 0);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  6%, 70% {
    transform:translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  72%, 100% {transform:translate3d(calc(-100% - 40px), 0, 0)}
}

.ticker-top {
  background: #870407;
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  height: 112px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin-top: 3px;

  background: 
    linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.3) 50%,#0000 66%)
    #870407;
  background-size:300% 50%;
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}

.rtcs
{
    width:880px;
    height: 720px;    
    margin-top: 0px;
    margin-bottom: 7px;
    position: absolute; 
    border-right: 10px solid #870407;
    
}

.stream
{
    background: linear-gradient(90deg, transparent, #800 0%);
    width:400px;
    height: 720px;    
    margin-right: 880px;
    margin-top: 0px;
    margin-bottom: 4px;
    position: absolute;    
}
